<table class="table">
  <tbody>
    <tr>
        <td>Диагональ экрана</td>
        <td>{{ product.diagonal }}</td>
    </tr>
    <tr>
        <td>Тип Дисплея</td>
        <td>{{ product.display_type }}</td>
    </tr>
    <tr>
        <td>Разрешение экрана</td>
        <td>{{ product.resolution }}</td>
    </tr>
    <tr>
        <td>Объем аккумулятора</td>
        <td>{{ product.accum_volume }}</td>
    </tr>
    <tr>
        <td>Оперативная память</td>
        <td>{{ product.ram }}</td>
    </tr>
    <tr>
        <td>Слот SD-карты</td>
        <td>{{ product.sd }}</td>
    </tr>
    <tr>
        <td>Максимальный объем SD-карты</td>
        <td>{{ product.sd_volume}}</td>
    </tr>
    <tr>
        <td>Основная камера</td>
        <td>{{ product.mani_cam_mp }}</td>
    </tr>
    <tr>
        <td>Фронтальная камера</td>
        <td>{{ product.front_cam_mp }}</td>
    </tr>
  </tbody>
</table>

